.LoginPage-el-card-style
{
    height: 100%;
    margin-top: 10px;
    background: rgba(255,255,255,0.64);
}

.LoginPage-title-style
{
    text-align: center;
    color:#ff8888;
}

html.dark .LoginPage-el-card-style
{
    background: rgba(0,0,0,0.64);
}