.PersonalIndex-avater-div-style
{
    text-align: center;
    font-weight: bold;
}

.PersonalIndex-name-style
{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ffcccc;
    text-shadow: #000000 0 0 10px;
}

.PersonalIndex-el-tag-style
{
    margin-left: 5px;
    margin-right: 5px;
}

.PersonalIndex-mark-style
{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 10px;
    color: #ffcccc;
}