.PersonalIndex-avater-div-style
{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.PersonalIndex-text-style
{
    margin-top: 10px;
    color: #ffcccc;
    text-shadow: #000000 0 0 10px;
}