.el-radio__input.is-checked + .el-radio__label 
{
    color: #ff8f8f !important;
}

.el-radio__input.is-checked .el-radio__inner 
{
    background: #ff8f8f !important;
    border-color: #ff8f8f !important;
}
