.FunctionIndex-h1-text-style
{
    margin: 0;
    bottom: 64px;
    text-align: right;
    position: relative;
}

.FunctionIndex-h3-text-style
{
    margin: 0;
    bottom: 64px;
    text-align: right;
    position: relative;
}

.FunctionIndex-yuanHead-image-style
{
    height: 150px;
}

.common-with-back-el-card-style
{
    height: 70%;
}