.FunctionHead-head-image-style
{
    height: 512px;
    width: 512px;
    position: absolute;
    transition: 0.5s top ease;
    transition: 0.5s opacity ease;
}

.FunctionHead-carousel-style
{
    transition: 0.5s top ease;
}

.FunctionHead-carousel-image-style
{
    margin-left: 30px;
    height: 120px;
    position: absolute;
}

.FunctionHead-carousel-text-style
{
    text-align: right;
    margin-right: 50px;
    margin-top: 35px;
}

.el-carousel__item
{
    background: pink;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
}