.IndexTime-timeline-item-style
{
    font-weight: bold;
}

.el-loading-spinner .path
{
    stroke: #ff5f5f;
}

.el-loading-spinner .el-loading-text
{
    color: #ff5f5f;
    font-weight: bold;
    font-size: 20px;
}