.IndexHeadWarmaGood
{
    background: url("@/assets/webp/background/warma-good.webp"),rgba(255,255,255,0);
    background-size: 192px 108px;
    background-repeat: no-repeat;
    background-position: right 32px bottom;
}