.NotesCard-el-icon-style
{
    color: #333333;
    margin-right: 5px;
}

.NotesCard-tag-text-style
{
    font-size: 10px;
    color: #333333;
}

html.dark .NotesCard-el-icon-style
{
    color: white;
}

html.dark .NotesCard-tag-text-style
{
    color: white;
}

.el-loading-spinner .path
{
    stroke: #ff5f5f;
}

.el-loading-spinner .el-loading-text
{
    color: #ff5f5f;
    font-weight: bold;
    font-size: 20px;
}