.ManageIndex-out-div 
{
    display: flex;
    flex-wrap: wrap;
}

.ManageIndex-el-card
{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
}