.ManageNotes-el-card
{
    width: 98%;
    margin: 10px;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    position: absolute;
    transition: 1s left ease;
}

.manageNotes-update-form
{
    margin-top: 10px;
}

.manageNotes-form-h1-text
{
    float: right;
    margin-right: 20px;
    margin-bottom: 0px;
}

.manageNotes-el-button-div
{
    float: right;
    margin-right: 20px;
}

.manageNotes-el-button
{
    margin-top: 10px;
    float: right;
}