#ManageBody-body-id
{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
}

body
{
  margin: 0;
}

#echarts-background-text
{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ffffff;
    z-index: -1;
}

html.dark #echarts-background-text
{
    background: #333333;
}