.manageTime-change-el-card
{
    margin-top: 10px;
}

.manageTime-el-button
{
    float: right;
    margin-right: 10px;
}

.manageTime-change-el-card .el-card__body
{
    padding: 10px;
    background: rgba(0,0,0,0) !important;
}

.manageTime-change-el-card
{
    background-color: rgba(0,0,0,0);
}

.manageTime-el-select
{
    margin-right: 10px;
}

.manageTime-span-text
{
    margin-right: 10px;
    color: var(--el-text-color-regular);
}

.manageTime-submit-button
{
    box-shadow: 0 0 0 1px #000000;
}

.manageTime-submit-text
{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.manageTime-input-with-select .el-input__wrapper
{
    background-color: #eeeeee;
}